<ion-tabs>
  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="store">
    <ion-router-outlet name="store"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="member">
    <ion-router-outlet name="member"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="profile">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store" href="/tabs/(store:store)">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="member" href="/tabs/(member:member)">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Member</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/(profile:profile)">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
