<ion-header>
  <ion-toolbar> <ion-title>Profile</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <img src="assets/picture/FN_Outlet.png" width="300px" high="300px" />
  <p>
    Lorem ipsum dolor sit amet, in eos dolorem appetere, qui eu iriure
    accusamus. Illum mollis cu sit. Honestatis dissentiunt in mel, eos tantas
    aperiri in, sea ad aeterno labores eloquentiam. Labitur labores pertinax sed
    eu. Dicam cotidieque has et. No liber aliquid nam. Eu qui justo falli
    lobortis, quo albucius molestie consulatu ut, cu choro everti eum. Erat
    nonumy honestatis an duo, quas integre at per. In qui facer iracundia
    posidonium, an duo posse expetenda erroribus, ad mea justo dicta. Veri
    primis apeirian in est, ut libris audiam lucilius vim. Iusto equidem et vim,
    nec te mutat tacimates. An quo quot alterum saperet, ut eos alii
    necessitatibus, oratio perfecto eos ne. Sumo error et vis, omnes
    suscipiantur definitiones at eos. Quem dissentiunt complectitur in mei,
    eripuit feugait mediocrem ea mea. Sit agam delenit graecis ad, iisque
    inimicus omittantur at eam, at minim placerat mel. Has accumsan laboramus
    et, mea summo accusam democritum te. Atqui atomorum ut sit, his no blandit
    omnesque intellegebat. Laudem audire insolens nam et, verear officiis
    ocurreret cu vis, eu qui soleat tritani consequuntur. Ius iusto ignota eu,
    cu suavitate constituam per. Ex commodo prompta est. Minim imperdiet usu an.
    Quas populo cu has. Vim mutat recusabo iracundia ea. Et vis aeterno ceteros
    tractatos, brute minim appareat id mea. Vel omnium gloriatur an, te his
    libris copiosae. Vim ea prompta sapientem delicatissimi, eripuit admodum
    copiosae id nam.
  </p>
</ion-content>
